<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Choose the movie Category' + ${name} + '!'" />


<div class="wrapper">
   <div th:size="22"><input SIZE=44 type="button" value="Fiction!" class="btn warning" /></div>
    <div> <input type="button" value="Adventure!" class="btn warning" /></div>
    <div><input type="button" value="Animation!" class="btn warning" /></div>
    <div> <input type="button" value="Romantic!" class="btn warning" /></div>
    <div><input type="button" value="Drama!" class="btn warning" /></div>

</div>

</body>
</html>




